html {
  background-color: #c9b5ab;
  font-family: "PT Serif";
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans";
}

h2 {
  color: #3f1622;
  font-family: "PT Sans";
}

.navigation {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: bold;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: none;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

p:first-of-type {
  font-weight: bold;
}

blockquote {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > cite {
  font-size: 0.8rem;
  text-align: center;
}

.varieties {
  list-style-type: lower-greek;
}

p:last-of-type {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}

p {
  font-weight: normal;
}
